@model IEnumerable<CommunityGarden.Models.Achievement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rules)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rules)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AchievementId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AchievementId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AchievementId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
