@model IEnumerable<CommunityGarden.Models.Badge>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AchievmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Progress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AchievmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Progress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BadgeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BadgeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BadgeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
