@using System.Reflection;
@model IEnumerable<User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            @{
                Type modelType = Model.First().GetType();

                PropertyInfo[] properties = modelType.GetProperties(BindingFlags.Public | BindingFlags.Instance);

                foreach (PropertyInfo property in properties)
                {
                    <th>@property.Name</th>
                }
            }
           <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @{
                foreach (PropertyInfo property in properties)
                {
                    <th>@property.GetValue(item)</th>
                }
            }
            <td>
                    <a asp-action="Edit" asp-route-id="@properties.First().GetValue(item)">Edit</a> |
                    <a asp-action="Details" asp-route-id="@properties.First().GetValue(item)">Details</a> |
					<a asp-action="Delete" asp-route-id="@properties.First().GetValue(item)">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
